@import '../../pages/common/LpqPalette';

.header {
	h1 {
		align-items: center;
		margin-left: 2rem;
		color: $text;
	}

	.loginWrapper {
		margin-right: 2rem;
		position: absolute;
		width: 100px;
		min-width: 100px;
		right: 1rem;
	}

	margin: 0 0 1rem 0;
	align-items: center;
	display: flex;
	background-color: $primary;
}